<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>Feel nostalgic</title>
<meta charset="UTF-8">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<th:block layout:fragment="script">
    <script type="text/javascript">
        $(function(){
            $('.nav-wrap, .content').addClass('sub');
        });

        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 4000,
                pause: "hover",
                wrap: true,
                keyboard : true
            });
        });


        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
    </script>
</th:block>
<body>
<div layout:fragment="content">
    <h2>공지사항</h2>

    <table border="1" cellpadding="0" cellspacing="0" class="table" width="500">
        <tbody class="table-group-divider">
        <tr>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        <tr th:each="acboard : ${acboardlist}">
            <td th:text="${acboard.name}"></td>
            <td><a th:href="@{/announcement/acview(id=${acboard.id})}" th:text="${acboard.title}"></a></td>
            <td th:text="${#temporals.format(acboard.regTime, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>

    <p>
        <a class="btn-save" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" style="text-decoration : none "
           th:href="@{/acwriteForm}">글작성</a>
    </p>
</div>
<div class="footer" th:fragment="content">
</div>

</body>
</html>