<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<title>Feel nostalgic</title>
<meta charset="UTF-8">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<th:block layout:fragment="script">
    <script type="text/javascript">
        $(function(){
           $('.nav-wrap, .content').addClass('sub');
       });



       $(document).ready(function () {
           $('.carousel').carousel({
               interval: 4000,
               pause: "hover",
               wrap: true,
               keyboard : true
           });
       });


       function openNav() {
         document.getElementById("mySidebar").style.width = "250px";
         document.getElementById("main").style.marginLeft = "250px";
       }

       function closeNav() {
         document.getElementById("mySidebar").style.width = "0";
         document.getElementById("main").style.marginLeft= "0";
       }

    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
        body, h1,h2,h3,h4,h5,h6 {
        font-family: 'Roboto', sans-serif;
        font-family: 'Kalam', cursive;
    }

        .w3-row-padding img {margin-bottom: 12px}

        .w3-sidebar {width: 120px;background: #222;}

        #main {margin-left: 120px}

        @media only screen and (max-width: 600px) {#main {margin-left: 0}}


       .card-body{
        min-height: 280px;
    }
        .card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
    font-weight : bold;
}

    </style>
</th:block>
<body class="w3-black">
<div layout:fragment="content" style="min-width: 700px; max-width: 900px; margin: 50px auto 100px auto;">


    <div class="row">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col-md-4 margin">
                <div class="card">
                    <a class="text-dark" th:href="'/item/' +${item.id}">
                        <img class="card-img-top" height="300" th:alt="${item.itemNm}" th:src="${item.imgUrl}">
                        <div class="card-body">
                            <h4 class="card-title">[[${item.itemNm}]]</h4>
                            <p class="card-text">[[${item.itemDetail}]]</p>
                            <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
</div>


<div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
    <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
            <a aria-label='Previous'
               class="page-link" th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.option} + '&page=' + ${items.number-1}}">
                <span aria-hidden='true'><</span>
            </a>
        </li>

        <li class="page-item" th:classappend="${items.number eq page-1}?'active':''"
            th:each="page: ${#numbers.sequence(start, end)}">
            <a class="page-link"
               th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.option} + '&page=' + ${page-1}}" th:inline="text">[[${page}]]</a>
        </li>

        <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
            <a aria-label='Next'
               class="page-link" th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.option} + '&page=' + ${items.number+1}}">
                <span aria-hidden='true'>></span>
            </a>
        </li>

    </ul>
</div>


<div class="footer" th:fragment="content"></div>
</body>
</html>
